---
import Layout from '../../layouts/Layout.astro';
import contact from '@/data/contact'

import Contact from "../../components/SkillCard.astro";
---

<Layout title="Luis CM | Contact" description="Petroleum Engineer" scrollSmooth={false}> 
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Contact</h2>
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
            {contact.map((skill) => (
                    <Contact {...skill} showDescription={false}/>
            ))}
        </div>
    </div>

</Layout>